{% extends "layout.html" %}

{% block head%}
<title>Login</title>
<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block body %}
  <div class="container" id="loginbox">
    <div class="header">Login</div>
    <form action="{{url_for('route')}}" method="POST">
      <div class="form-group">
        <label for="Usernamelabel">Username</label>
        <input type="text" class="form-control" name="username_login" placeholder="type your username">
      </div>
      <div class="form-group">
        <label for="passwordlabel">Password</label>
        <input type="password" class="form-control" name="password_login" placeholder="type your password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="act">
        <a href="{{url_for('register')}}">Don't have account?</a>
      </div>    
      </form>
  </div>
{% endblock %}