{% extends "layout2.html" %}

{% block head%}
    <title>Best Route Recommend</title>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet"/>
 
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css"/>

    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/route.css') }}">
{% endblock %}

{% block body %}
  <div id="map"></div>
  <div class="sidebar">
      <div class="heading">
          <h6>Get your route by clicking A and B on the map!</h6>
      </div>
  <div id="reports" class="reports"></div>
  </div>
  <script src="{{url_for('static', filename='js/route.js') }}"></script>
{% endblock %}