{% extends "layout2.html" %}

{% block head%}
    <title>Best Route Recommend</title>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet"/>
 
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css"/>

    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/route.css') }}">
{% endblock %}

{% block body %}
  <div id="map"></div>
  <div class="lenged">
    <div style="font-weight: bold;">Traffic volumes for 2019</div>
    <div class="lenged-item">
      <div style="width: 20px;height: 20px;background-color:#5E9FC7 ;margin-right: 10px;"></div>
      <div>1000-48250</div>
    </div>
    <div class="lenged-item">
      <div style="width: 20px;height: 20px;background-color:#9AD17B ;margin-right: 10px;"></div>
      <div>48250-95500</div>
    </div>
    <div class="lenged-item">
      <div style="width: 20px;height: 20px;background-color:#EF6769 ;margin-right: 10px;"></div>
      <div>95500-142750</div>
    </div>
    <div class="lenged-item">
      <div style="width: 20px;height: 20px;background-color:#FCBA70 ;margin-right: 10px;"></div>
      <div>142750-190000</div>
    </div>
  </div>
  <div class="sidebar">
      <div class="heading">
          <h6>Get your route by clicking A and B on the map!</h6>
      </div>
  <div id="reports" class="reports"></div>
  </div>
  <script src="{{url_for('static', filename='js/route.js') }}"></script>
{% endblock %}