body {
  position: relative;
}

#map {
  width:100%;
  height:93vh;
}

.lenged {
  position: absolute;
  right: 10px;
  bottom: 23px;
  background: white;
  padding: 10px;
}

.lenged-item {
  display: flex;
  margin-top: 10px;
}