body{
     background-image: url("../images/map.png");
     background-size: cover;
     padding: 0;
     margin:0;
}

#loginbox{
     background-color: white;
     color: black;
     width: 320px;
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color:gray;
     font-size: 18px;
     border-radius: 20px;
     padding: 25px;
     opacity: 0.8;
}

.header{
     text-align: center;
     font-size: 25px;
     font-weight: bold;
}

.act{
     font-size: 12px;
     text-decoration: none;
     color:blue;
     line-height: 20px;
     padding-top: 12px;
}